* {
  font-family: 'Open Sans', sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


::selection {
  background-color: rgb(255, 94, 0);
  color: rgb(86, 0, 97);
}

.entry-table {
  background-color: rgb(44, 44, 44);
  position: absolute;
  height: 1000px;
  width: 100%;
}
.entry-header {
  position: relative;
  width: 94%;
  height: 100px;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  margin: auto;
  top: 30px;
  z-index: 3;
}

.entry-logo {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 20px;
  left: 20px;
}

.entry-inBtns {
  position: absolute;
  min-width: 200px;
  height: 70px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.entry-signUp {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(65, 0, 73);
  text-align: center;
  padding: 15px 20px;
  border-radius: 15px;
}

.entry-signIn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 120px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
}

.ball-1 {
  position: absolute;
  animation: MoveUpDown 20s linear infinite;
  aspect-ratio : 1 / 1;
  border-radius: 50%;
  background-image: radial-gradient(rgb(255, 123, 47), rgb(199, 73, 0), rgb(49, 49, 49) );
  width: 45%;
  max-width: 460px;
  right: 8%;
  top: 9%;
}

.ball-2 {
  position: absolute;
  animation: MoveUpDown 20s linear infinite;
  background-color: rgb(65, 0, 73); 
  background-image: radial-gradient(rgb(125, 0, 141), rgb(86, 0, 97), rgb(49, 49, 49));
  width: 30%;
  max-width: 270px;
  min-width: 80px;
  aspect-ratio : 1 / 1;
  border-radius: 50%;
  top: 5%;
  left: 8%;
  min-width: 100px;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.entry-description {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 60%;
  min-width: 250px;
  max-height: 120px;
  top: 200px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  color: white;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 12px;
  border-left: solid 3px rgb(255, 94, 0);
  border-radius: 0 10px 10px 0;
}

.entry-searchSec {
  position: absolute;
  width: 30%;
  min-width: 200px;
  min-height: 360px;
  top: 320px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}

::placeholder {
  color: rgb(93, 37, 100);
}

.entry-searchBar {
}

.entry-search {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 42px;
  border: solid 0;
  border-radius: 20px;
  box-shadow: 0 5px 15px -10px ;
  padding-left: 15px;
  transition: 200ms;
  background-color: rgb(227, 198, 253);
  font-size: 16px;
  z-index: 2;
}

.entry-search:focus {
  outline: none;
  background-color: rgb(255, 255, 255);
}

.searchButton {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 0;
  text-align: center;
  right: 3px;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(201, 143, 252);
  top: 3px;
  z-index: 5;
  background-image: url("search.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 7px;
  transition: 200ms;
}

.searchButton:hover {
  background-color: rgb(220, 191, 247);
}

.entry-resultsContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 86%;
  top: 42px;
}

.entry-userSearch {
  position: absolute;
  left: 56px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 6px rgb(0, 0, 0);
  top: 50%;
  letter-spacing: 1px;
  transform: translate(0, -50%);
}

.entry-searchDiv {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 40px;
  
}

.entry-userPic {
  position: absolute;
  background-color: white;
  width: 36px;
  height:36px;
  border-radius: 18px;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.fa-search {
  width: 20px;
}
